.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-sru9570eQfVY);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__jvcwp {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-sru9570eQfVY);
}
.radio__w7TkS:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio___1FxB3:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__cXhip:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
