.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-AP6WHwzDSVwN);
  font-size: var(--token-Vg4sP7lJnzdM);
  line-height: var(--token-jr3QtjKZ-uhE);
  width: 100%;
  color: var(--token-2b3waloxfbI5);
  font-family: var(--token-1LSZR4dY9k25);
  min-width: 0;
  border-radius: var(--token-IH9GyyAcxvGu);
  padding: var(--token-IH9GyyAcxvGu) var(--token-fDqMfTohjBfV);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-SvM8uuPKQ8PK);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-0a7R_Owduhkz);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-2Hkl6-Mrn9BI);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-0a7R_Owduhkz);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-UPkiBxgmMYIf);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-UPkiBxgmMYIf);
}
