.ariaSwitch:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: var(--token-2b3waloxfbI5);
  font-family: var(--token-1LSZR4dY9k25);
  font-size: var(--token-Vg4sP7lJnzdM);
  line-height: var(--token-jr3QtjKZ-uhE);
  width: 100%;
  flex-direction: column;
  row-gap: var(--token-sru9570eQfVY);
  min-width: 0;
}
.ariaSwitch[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.ariaSwitch[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-m73n3QbpGRmw);
}
.switchIndicator {
  height: auto;
  width: var(--token-UPkiBxgmMYIf);
  display: flex;
  background: var(--token-hixor-ySL19c);
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 99px;
  padding: var(--token-dj0OVaV-J7eK);
}
.ariaSwitch[data-selected] .switchIndicator {
  background: var(--token-SvM8uuPKQ8PK);
}
.ariaSwitch[data-focus-visible] .switchIndicator {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-SvM8uuPKQ8PK);
  outline-offset: 1px;
}
.ariaSwitch[data-disabled] .switchIndicator {
  cursor: not-allowed;
}
.thumb {
  display: flex;
  position: relative;
  width: var(--token-go1C-PbDHTQI);
  background: var(--token-6jRecHyBjuCk);
  height: var(--token-go1C-PbDHTQI);
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 0px 0px 3px 0px #00000040;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
  border-radius: 99px;
}
.ariaSwitch[data-selected] .thumb {
  transform: translateX(12px) translateY(0px) translateZ(0px);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
