.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-SvM8uuPKQ8PK);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-m73n3QbpGRmw);
  font-family: var(--token-1LSZR4dY9k25);
  font-size: var(--token-Vg4sP7lJnzdM);
  line-height: var(--token-jr3QtjKZ-uhE);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-IH9GyyAcxvGu);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-dj0OVaV-J7eK);
  outline-offset: 1px;
  outline-color: var(--token-SvM8uuPKQ8PK);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-n1zIYfZhrzAk);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-BkpEg1XDjPbR);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-9SIP0CpQX2nW);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-ekZF4EanRAmv);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-TxAUiRKIw2sE);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ljNnRmJ9J_VR);
  font-size: var(--token-0pQvt2qSNzuN);
  column-gap: var(--token-dj0OVaV-J7eK);
  row-gap: 0px;
  border-radius: var(--token-sru9570eQfVY);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-0pQvt2qSNzuN);
  line-height: var(--token-ljNnRmJ9J_VR);
  column-gap: var(--token-sru9570eQfVY);
  row-gap: 0px;
  border-radius: var(--token-sru9570eQfVY);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-CUykFM9fJId9);
  line-height: var(--token-k8EjoAEg9zjR);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-CUykFM9fJId9);
  line-height: var(--token-k8EjoAEg9zjR);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-bFAyKQSwlzXN);
  border-radius: var(--token-IH9GyyAcxvGu);
}
.softBackgroundcolor_neutral {
  background: var(--token-hixor-ySL19c);
}
.softBackgroundcolor_muted {
  background: var(--token-0a7R_Owduhkz);
}
.softBackgroundcolor_success {
  background: var(--token-qDfPpPi289jP);
}
.softBackgroundcolor_warning {
  background: var(--token-26q8rsEFe1Sy);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-r9Xb2S97S5nw);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-IH9GyyAcxvGu);
  border: 0px solid var(--token-QspDelD4wO3R);
}
.bordercolor_neutral {
  border-color: var(--token-FxRl_HpAq4vp);
}
.bordercolor_muted {
  border-color: var(--token-XZLwieK7uXBh);
}
.bordercolor_success {
  border-color: var(--token-Cn9nuFOtDeVL);
}
.bordercolor_warning {
  border-color: var(--token-DpaUF17yBpxP);
}
.bordercolor_errorDestructive {
  border-color: var(--token-F0Zwfu5N19iC);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-IH9GyyAcxvGu);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-3wHuJM0zkZ5B);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-V0zBF46VE9kP);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-bq9_I1rynC79);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__hkhNz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-IH9GyyAcxvGu);
  min-width: 0;
  min-height: 0;
  padding: var(--token-IH9GyyAcxvGu) var(--token-fDqMfTohjBfV);
}
.freeBoxsize_extraSmall__hkhNztXmSh {
  padding: var(--token-sru9570eQfVY) var(--token-IH9GyyAcxvGu);
}
.freeBoxsize_small__hkhNzk180M {
  padding: var(--token-IH9GyyAcxvGu) var(--token-m73n3QbpGRmw);
}
.freeBoxsize_large__hkhNz1AHqS {
  padding-top: var(--token-sru9570eQfVY);
  padding-bottom: var(--token-sru9570eQfVY);
}
.freeBoxsize_extraLarge__hkhNzQd8Cl {
  padding-left: var(--token-zTi8DivvTcWL);
  padding-right: var(--token-zTi8DivvTcWL);
}
.freeBoxroundedFull__hkhNz6S3Ur {
  padding-right: var(--token-zTi8DivvTcWL);
  padding-left: var(--token-zTi8DivvTcWL);
}
.freeBox___3ZuOj {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___3ZuOJxPwYm {
  display: flex;
}
.slotTargetStart {
  color: var(--token-wVaxoGgNo1GL);
}
.slotTargetStartcolor_neutral {
  color: var(--token-SIFEQx4MJnLS);
}
.slotTargetStartcolor_muted {
  color: var(--token-ZFIWAE96-LGK);
}
.slotTargetStartcolor_success {
  color: var(--token-nLVPIwgF_r0X);
}
.slotTargetStartcolor_warning {
  color: var(--token-YgWWypnXXnXg);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-h9QsJ1TVxCKM);
}
.slotTargetStarttype_soft {
  color: var(--token-q1SxBpTwrShg);
}
.slotTargetStarttype_bordered {
  color: var(--token-q1SxBpTwrShg);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-0pQvt2qSNzuN);
}
.slotTargetStartsize_small {
  font-size: var(--token-0pQvt2qSNzuN);
}
.slotTargetStartsize_large {
  font-size: var(--token-CUykFM9fJId9);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-CUykFM9fJId9);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-jnXzoxqw-SOm);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-jnXzoxqw-SOm);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-sz0_VlW9nIvS);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-sz0_VlW9nIvS);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-XrRselnbTzq3);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-XrRselnbTzq3);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-CZCO8tvZOL1b);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-CZCO8tvZOL1b);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-2qQXl9VI7RL9);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-2qQXl9VI7RL9);
}
.svg__hfCv9 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-wVaxoGgNo1GL);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-SIFEQx4MJnLS);
}
.slotTargetLabelcolor_muted {
  color: var(--token-ZFIWAE96-LGK);
}
.slotTargetLabelcolor_success {
  color: var(--token-nLVPIwgF_r0X);
}
.slotTargetLabelcolor_warning {
  color: var(--token-YgWWypnXXnXg);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-h9QsJ1TVxCKM);
}
.slotTargetLabeltype_soft {
  color: var(--token-q1SxBpTwrShg);
}
.slotTargetLabeltype_bordered {
  color: var(--token-q1SxBpTwrShg);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-jnXzoxqw-SOm);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-sz0_VlW9nIvS);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-jnXzoxqw-SOm);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-XrRselnbTzq3);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-sz0_VlW9nIvS);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-CZCO8tvZOL1b);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-XrRselnbTzq3);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-2qQXl9VI7RL9);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-CZCO8tvZOL1b);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-2qQXl9VI7RL9);
}
.text__d6SaW {
  white-space: pre;
}
.freeBox__p6IzU {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__p6IzU7MXmQ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-wVaxoGgNo1GL);
}
.slotTargetEndcolor_neutral {
  color: var(--token-SIFEQx4MJnLS);
}
.slotTargetEndcolor_muted {
  color: var(--token-ZFIWAE96-LGK);
}
.slotTargetEndcolor_success {
  color: var(--token-nLVPIwgF_r0X);
}
.slotTargetEndcolor_warning {
  color: var(--token-YgWWypnXXnXg);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-h9QsJ1TVxCKM);
}
.slotTargetEndtype_soft {
  color: var(--token-q1SxBpTwrShg);
}
.slotTargetEndtype_bordered {
  color: var(--token-q1SxBpTwrShg);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-0pQvt2qSNzuN);
}
.slotTargetEndsize_small {
  font-size: var(--token-0pQvt2qSNzuN);
}
.slotTargetEndsize_large {
  font-size: var(--token-CUykFM9fJId9);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-CUykFM9fJId9);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-jnXzoxqw-SOm);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-jnXzoxqw-SOm);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-sz0_VlW9nIvS);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-sz0_VlW9nIvS);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-XrRselnbTzq3);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-XrRselnbTzq3);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-CZCO8tvZOL1b);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-CZCO8tvZOL1b);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-2qQXl9VI7RL9);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-2qQXl9VI7RL9);
}
.svg__d3DmC {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
